{% extends 'base.html' %}
{% block content %}
        {% for doctor in doctors %}
            <div class="row text-center justify-content-center mb-4 pt-4 pb-4">
                <div class="col-4 col-md-3">
                    <button class="btn btn-danger">
                <a class="text-white" href="{{ url_for('delete_doctor', doctor_id=doctor._id) }}">
                    <i class="fas fa-user-minus mr-3"></i>Delete
                </a>
            </button>
                </div>
                <div class="col-8 col-md-3">
                        <div >Dr. {{doctor.name}}</div>
                </div>
            </div>
        {% endfor %}

        <form action="{{ url_for('insert_doctor') }}" method="POST">
            <div class="col text-center">
                Dr. <input type="text" name="name" id="name" required>
                <button type="submit" class="btn btn-primary"><i class="fas fa-plus mr-2 -t"></i>Add Doctor</button>
            </div>
        </form>
{% endblock %}